.PhoneInput{
    height:60px;
    width:350px;
    border:1px solid #FF8B05;
}
.PhoneInputInput{
height:40px;
background:black;
}
.PhoneInputCountryIcon{
    background-color: transparent;
    border: 0px solid;
    outline: none;
}
.btn11{
    background:#FF8B05;
    height:50px;
    width:126px;
}
.input11{
    height:60px;
    width:350px;
    border:1px solid #FF8B05;
}
.input111{
    height:140px;
    width:350px;
    border:1px solid #FF8B05;
}
.PhoneInputInput:focus{
    background-color: transparent;
    border: 0px solid;
    outline: none;
}
.star{
color:#FE364F;
}
.success{
display:flex;
opacity:0;
transition:4s;
animation:success 9s linear;
}
@keyframes success {
  0%{
display:flex;
opacity:0.5;
  }
  25%{
display:flex;
opacity:0.7;
  }
  75%{
opacity:1;
display:flex;
  }
  100%{
opacity:0;

    display:none;
  }
}
.rejects{
display:flex;
opacity:0;
transition:4s;
animation:rejects 9s linear;
}
@keyframes rejects {
  0%{
display:flex;
opacity:0.5;
  }
  25%{
display:flex;
opacity:0.7;
  }
  75%{
opacity:1;
display:flex;
  }
  100%{
opacity:0;

    display:none;
  }
}

@media only screen and (max-width:600px) {

.PhoneInputInput{
height:20px;
font-size:12px;
background:black;
}
.input11{
    height:40px;
    width:240px;
    border:0.1px solid #FF8B05;
}
.input111{
    height:80px;
    width:240px;
    border:0.1px solid #FF8B05;
}
.PhoneInput{
    height:40px;
    width:240px;
    border:0.1px solid #FF8B05;
}

.btn11{
    height:35px;
    width:85px;
}
}

@media only screen and (min-width:768px) and (max-width:990px) {
.PhoneInputInput{
height:30px;
font-size:12px;
background:black;
}
.input11{
    height:50px;
    width:300px;
    border:0.1px solid #FF8B05;
}
.input111{
    height:100px;
    width:300px;
    border:0.1px solid #FF8B05;
}
.PhoneInput{
    height:50px;
    width:300px;
    border:0.1px solid #FF8B05;
}

.btn11{
    height:40px;
    width:95px;
}
}