.box1{
    border-radius:100px 0 0 0;
}
.box2{
    border-radius: 0 0 70px 0;
}
.split{
    height:480px;
}

.section2{
background:#F8F5F0
}

@media only screen and (max-width:600px) {


}